import { html } from 'lit';
import { customElement, property } from 'lit/decorators.js';
import { UmbTextStyles } from '@umbraco-cms/backoffice/style';
import { UmbLitElement } from '@umbraco-cms/element';

/**
 * @element {{ extensionTagName extensionType name }}
 */
@customElement('{{ extensionTagName extensionType name }}')
export class {{className extensionType name }} extends UmbLitElement {
	static styles = [UmbTextStyles];

	@property()
	value = '';

	@property({ type: Array, attribute: false })
	public config = [];

	render() {
		return html`<div>{{ extensionTagName extensionType name }}</div>`;
	}
}

export default {{className extensionType name}};

declare global {
	interface HTMLElementTagNameMap {
		'{{extensionTagName extensionType name }}': {{className extensionType name}};
	}
}
