@inherits Umbraco.Web.Macros.PartialViewMacroPage

@using System.Web.Mvc.Html
@using ClientDependency.Core.Mvc
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
    var profileModel = Members.CreateProfileModel();

    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
    Html.RequiresJs("/umbraco_client/ui/jquery.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.min.js");
    Html.RequiresJs("/umbraco_client/Application/JQuery/jquery.validate.unobtrusive.min.js");
}

@*NOTE: This RenderJsHere code should be put on your main template page where the rest of your script tags are placed*@
@Html.RenderJsHere()

@if (Members.IsLoggedIn())
{
    using (Html.BeginUmbracoForm<UmbProfileController>("HandleUpdateProfile"))
    {
        <fieldset>
            <legend>Edit profile</legend>
       
            @Html.ValidationSummary(true)

            @Html.LabelFor(m => profileModel.Name)
            @Html.TextBoxFor(m => profileModel.Name)
            @Html.ValidationMessageFor(m => profileModel.Name)
            <br />

            @Html.LabelFor(m => profileModel.Email)
            @Html.TextBoxFor(m => profileModel.Email)
            @Html.ValidationMessageFor(m => profileModel.Email)
            <br />

            @foreach (var prop in profileModel.MemberProperties)
            {
                @Html.LabelFor(m => prop.Value, prop.Name)
                @Html.EditorFor(m => prop.Value)
                @Html.HiddenFor(m => prop.Alias)
                <br />
            }
       
            @Html.HiddenFor(m => profileModel.MemberTypeAlias)

            <button>Save</button>
        </fieldset>
    }
}