@using Umbraco.Core
@using ClientDependency.Core
@using ClientDependency.Core.Mvc
@using Umbraco.Core.IO
@using Umbraco.Web
@using umbraco
@inherits System.Web.Mvc.WebViewPage
@{
    var isDebug = false;
    if (Request.RawUrl.IndexOf('?') >= 0)
    {
        var parsed = HttpUtility.ParseQueryString(Request.RawUrl.Split('?')[1]);
        var attempt = parsed["umbDebug"].TryConvertTo<bool>();
        if (attempt && attempt.Result)
        {
            isDebug = true;
        }
    }

    Html
        .RequiresCss("assets/css/umbraco.css", "Umbraco")
        .RequiresCss("tree/treeicons.css", "UmbracoClient")
        .RequiresCss("lib/bootstrap-social/bootstrap-social.css", "Umbraco")
        .RequiresCss("lib/font-awesome/css/font-awesome.min.css", "Umbraco");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="@GlobalSettings.Path.EnsureEndsWith('/')" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="pinterest" content="nopin" />

    <title ng-bind="$root.locationTitle">Umbraco</title>

    @Html.RenderCssHere(
        new BasicPath("Umbraco", IOHelper.ResolveUrl(SystemDirectories.Umbraco)),
        new BasicPath("UmbracoClient", IOHelper.ResolveUrl(SystemDirectories.UmbracoClient)))
</head>
<body ng-class="{'touch':touchDevice, 'emptySection':emptySection, 'umb-drawer-is-visible':drawer.show}" ng-controller="Umbraco.MainController" id="umbracoMainPageBody">

    <div ng-hide="!authenticated" ng-cloak>

        <!-- help dialog controller by the help button - this also forces the backoffice UI to shift 400px  -->
        <umb-drawer data-element="drawer" ng-if="drawer.show" model="drawer.model" view="drawer.view"></umb-drawer>

        <div id="mainwrapper" class="clearfix" ng-click="closeDialogs($event)">

            <umb-navigation></umb-navigation>

            <section id="contentwrapper">
                <div id="contentcolumn" ng-view>
                    <noscript>
                        <div>
                            <h3><img src="assets/img/application/logo.png" alt="Umbraco logo" style="vertical-align: text-bottom;" /> Umbraco</h3>
                            <p>For full functionality of Umbraco CMS it is necessary to enable JavaScript.</p>
                            <p>Here are the <a href="https://www.enable-javascript.com/" target="_blank" style="text-decoration: underline;">instructions how to enable JavaScript in your web browser</a>.</p>
                        </div>
                    </noscript>
                </div>
            </section>

            <umb-tour
                ng-if="tour.show"
                model="tour">
            </umb-tour>

            <umb-notifications></umb-notifications>

        </div>

    </div>

    <umb-backdrop
        ng-if="backdrop.show"
        backdrop-opacity="backdrop.opacity"
        highlight-element="backdrop.element"
        highlight-prevent-click="backdrop.elementPreventClick"
        disable-events-on-click="backdrop.disableEventsOnClick">
    </umb-backdrop>

    <umb-overlay
        ng-if="ysodOverlay.show"
        model="ysodOverlay"
        position="right"
        view="ysodOverlay.view">
    </umb-overlay>

    @Html.BareMinimumServerVariablesScript(Url, ApplicationContext.Current, Url.Action("ExternalLogin", "BackOffice", new { area = ViewBag.UmbracoPath }))

    <script>
        document.angularReady = function(app) {
            @Html.AngularValueExternalLoginInfoScript((IEnumerable<string>)ViewBag.ExternalSignInError)
            @Html.AngularValueResetPasswordCodeInfoScript(ViewData["PasswordResetCode"])
        }
    </script>

    <script src="lib/rgrove-lazyload/lazyload.js"></script>
    <script src="@Url.GetUrlWithCacheBust("Application", "BackOffice")"></script>

    @if (isDebug)
    {
        <script src="lib/jquery/jquery.min.js"></script>
        @Html.RenderProfiler()
    }
</body>
</html>
