@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Options;
@using Umbraco.Cms.Core.Configuration
@using Umbraco.Cms.Core.Configuration.Models
@using Umbraco.Cms.Core.Hosting
@using Umbraco.Cms.Core.Mail
@using Umbraco.Cms.Core.Services
@using Umbraco.Cms.Web.BackOffice.Security
@using Umbraco.Extensions
@inject IOptions<ContentSettings> ContentSettings
@inject IOptions<SecuritySettings> SecuritySettings
@inject IEmailSender EmailSender
@inject IUmbracoVersion UmbracoVersion
@inject IHostingEnvironment HostingEnvironment
@inject IOptions<GlobalSettings> GlobalSettings
@inject IIconService IconService
@inject IBackOfficeExternalLoginProviders ExternalLogins
@{
    var backOfficePath = GlobalSettings.Value.GetBackOfficePath(HostingEnvironment);
    var loginLogoImage = ContentSettings.Value.LoginLogoImage;
    var loginBackgroundImage = ContentSettings.Value.LoginBackgroundImage;
    var usernameIsEmail = SecuritySettings.Value.UsernameIsEmail;
    var allowUserInvite = EmailSender.CanSendRequiredEmail();
    var allowPasswordReset = SecuritySettings.Value.AllowPasswordReset && EmailSender.CanSendRequiredEmail();
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <base href="@backOfficePath.EnsureEndsWith('/')"/>
        <link rel="icon" type="image/svg+xml" href="~/umbraco/login/favicon.svg"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Umbraco</title>
        <script type="module" src="~/umbraco/login/main.js" asp-append-version="true"></script>
        <link rel="stylesheet" href="~/umbraco/login/style.css" asp-append-version="true"/>
        <style>
          body {
            margin: 0;
            padding: 0;
          }
        </style>
    </head>

    <body class="uui-font uui-text" style="margin: 0; padding: 0; overflow: hidden">
        <umb-auth
            is-legacy
            return-url="@backOfficePath"
            logo-image="@loginLogoImage"
            background-image="@loginBackgroundImage"
            username-is-email="@usernameIsEmail"
            allow-user-invite="@allowUserInvite"
            allow-password-reset="@allowPasswordReset"
        >
            <umb-login-external slot="external" name="Google" icon="info"></umb-login-external>
            <umb-login-external slot="external" name="Amazon" icon="info"></umb-login-external>
        </umb-auth>
    </body>
</html>
